   .food-1{
    margin-top: 30px;
   }
   .img-product-fly{
    position: absolute;
    z-index: 99999999999999;
    
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border:2px solid #bf55ec;
    transition: all 1s ease;
}
.btn-buy-now{
    color: #FF4500;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
   
    background-color:  none;
    border:1px solid #bf55ec; 
    text-align: center; 
}
.btn-buy-now:hover{
    background-color: #FF4500;
    color: white;
}
.zoom {
            display:inline-block;
            position: relative;
        }
        .zoom img {
            display: block;
        }
        .zoom img::selection { background-color: transparent; }
        .zoom:after {
            content:'';
            display:block; 
            width:33px; 
            height:33px; 
            position:absolute; 
            top:0;
            right:0;
           
        }
        .card{
           
            box-shadow: 5px 5px 15px #eda84a;
          margin:5px;
        }
           .card-title{
            
color: #31124b;
font-weight: bold;
        }
        .card-text{
             
color: #31124b;
font-size: 14px;
        }

        .card:hover {
             border :1px solid  #8d4fff;
            background:  #31124b;
            
            
        }
        .card:hover .card-title, .card:hover .card-text{
            color: white;
        }
        .price{
            display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
        }
.rating
{
    margin-top: 10px;
}
.rating i
{
    font-size: 19px;
    margin-right: 4px;
}
.rating i:last-child
{
    margin-right: 0px;
}
.rating_1 i:first-child{color: #ffeb8d;}
.rating_2 i:first-child{color: #ffeb8d;}
.rating_2 i:nth-child(2){color: #fed46b;}
.rating_3 i:first-child{color: #ffeb8d;}
.rating_3 i:nth-child(2){color: #fed46b;}
.rating_3 i:nth-child(3){color: #fbb53d;}
.rating_4 i:first-child{color: #ffeb8d;}
.rating_4 i:nth-child(2){color: #fed46b;}
.rating_4 i:nth-child(3){color: #fbb53d;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #ffeb8d;}
.rating_5 i:nth-child(2){color: #fed46b;}
.rating_5 i:nth-child(3){color: #fbb53d;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_r i::before
{
    font-family: 'FontAwesome';
    content: "\f006";
    font-style: normal;
    font-size: 19px;
    margin-right: 4px;
}
.rating_r_1 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_2 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_3 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_3 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_4 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_4 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_4 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:first-child::before{color: #ffeb8d; content: "\f005";}
.rating_r_5 i:nth-child(2)::before{color: #fed46b; content: "\f005";}
.rating_r_5 i:nth-child(3)::before{color: #fbb53d; content: "\f005";}
.rating_r_5 i:nth-child(4)::before{color: #fa9e1b; content: "\f005";}
.rating_r_5 i:nth-child(5)::before{color: #ef910a; content: "\f005";}

.pagination{
    margin-top: 20px;
    margin-left: 70%;
}
.page-item{
    padding:3px;
}
.page-link{
    padding: 10px;
    color: #31124b;
    width: 200%;
    border-radius: 50px;
    border:1px solid #31124b;
    
}
p{
    font-weight: normal;
}
     