/*Phông chữ*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face {
    font-family: 'Beyond';
    src: url('../fonts/beyond_the_mountains.otf') format('truetype'), url('../fonts/beyond_the_mountains.ttf') format('opentype');
}


/*CHỉnh phần nội dung*/

ul {
    list-style: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
}

p a {
    display: inline;
    text-decoration: none;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.button {
    display: inline-block;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
}

.button_bcg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    z-index: -1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button:hover .button_bcg {
    left: -100%;
}

.button a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    z-index: 2;
}

.button span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 2px;
}

.button span:first-child {
    margin-left: 10px;
}

.button span:nth-child(2) {
    opacity: 0.6;
}

.button span:last-child {
    opacity: 0.4;
    margin-right: 0px;
}


/*LOGO*/

.logo_container {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}

.logo a {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #f4f4f8;
    font-weight: 800;
    text-transform: uppercase;
}

.logo a img {
    display: inline-block;
    vertical-align: baseline;
   
    width: 120px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}